In [3]:
from bs4 import BeautifulSoup

In [4]:
fp = open(r'C:\DevRoot\Dropbox\Py30\07_crawl\data\simple.html', 'r',encoding='utf8') #html 불러오기
html = fp.read()
fp.close()

In [5]:
html

'<!DOCTYPE html>\n\n<html lang="ko">\n<head>\n<meta charset="utf-8"/>\n    <title>간단한 html</title>\n<style>\n\th1 { color: red; }\n\tp {color: green; }\n\t/* ul li {color: blue; } */\n\n\t/* class  */\n\t.animal {color: blue; }\n\t.fruit {color: orange; }\n\n\t/* id  */\n\t#cat {color:brown;}\n    \n    table, th, td {\n        border : 1px solid black;\n        border-collapse : collapse;\n    }\n    \n    #books b {\n        background-color: cyan;\n    }\n\n</style>\n</head>\n<body>\n    <h1>header</h1>\n    <p>This is a paragraph</p>\n    <div>이것은 <br> div 입니다</div>\n    <ul>\n        <li class="animal">dog</li>\n        <li class="animal" id="cat">cat</li>\n        <li class="animal">frog</li>\n        <li class="animal">this</li>\n    </ul>\n    <ul>\n        <li class="fruit">apple  </li>  <!-- 일부러 공백 띄었다 -->\n        <li class="fruit">ba<b>nana</b></li>\n        \n    </ul>\n    <ol>\n        <li><a href="https://www.naver.com" title="최고포탈">네이버</a></li>\n        <li><a href="https://www.daum.net">daum</a></li>\n        <li class="animal">fish</li>  <!-- 일부러 여기도 animal 을 넣었다 -->\n             <!-- 일부러 a 가 없는 li 를 넣어보았다 -->\n    </ol>\n    \n    <hr>\n    <table id="books">\n        <thead>\n        <tr>\n            <th>제목</th>\n            <th>가격</th>\n        </tr>  \n        </thead>\n        <tbody>\n        <tr>\n            <td>1.이것이 파이썬이다</td>\n            <td><b>[도서]</b> 19,200원</td>\n        </tr>    \n        <tr>\n            <td>2.저것도 파이썬이다</td>\n            <td><b>[할인]</b> 12,800원</td>\n        </tr>    \n        <tr>\n            <td>3.그래도 파이썬인가?</td>\n            <td><b>[중고]</b> 6,500원</td>\n        </tr>  \n        </tbody>    \n    </table>\n    \n</body>\n</html>\n\n\n'

In [6]:
data =BeautifulSoup(html,'html.parser') #html 불러온것을 BeautifulSoup 사용해서 예쁘게 정리
data

<!DOCTYPE html>

<html lang="ko">
<head>
<meta charset="utf-8"/>
<title>간단한 html</title>
<style>
	h1 { color: red; }
	p {color: green; }
	/* ul li {color: blue; } */

	/* class  */
	.animal {color: blue; }
	.fruit {color: orange; }

	/* id  */
	#cat {color:brown;}

    table, th, td {
        border : 1px solid black;
        border-collapse : collapse;
    }

    #books b {
        background-color: cyan;
    }

</style>
</head>
<body>
<h1>header</h1>
<p>This is a paragraph</p>
<div>이것은 <br/> div 입니다</div>
<ul>
<li class="animal">dog</li>
<li class="animal" id="cat">cat</li>
<li class="animal">frog</li>
<li class="animal">this</li>
</ul>
<ul>
<li class="fruit">apple  </li> <!-- 일부러 공백 띄었다 -->
<li class="fruit">ba<b>nana</b></li>
</ul>
<ol>
<li><a href="https://www.naver.com" title="최고포탈">네이버</a></li>
<li><a href="https://www.daum.net">daum</a></li>
<li class="animal">fish</li> <!-- 일부러 여기도 animal 을 넣었다 -->
<!-- 일부러 a 가 없는 li 를 넣어보았다 -->
</ol>
<hr/>
<table id="books">
<thead>
<tr>
<th>제목</th>
<th>가격</th>
</tr>
</thead>
<tbody>
<tr>
<td>1.이것이 파이썬이다</td>
<td><b>[도서]</b> 19,200원</td>
</tr>
<tr>
<td>2.저것도 파이썬이다</td>
<td><b>[할인]</b> 12,800원</td>
</tr>
<tr>
<td>3.그래도 파이썬인가?</td>
<td><b>[중고]</b> 6,500원</td>
</tr>
</tbody>
</table>
</body>
</html>

In [7]:
type(data) # 타입도 Beautifuldoup로 바뀐다

bs4.BeautifulSoup

In [8]:
data.select_one('h1') # h1태그가 붙은 것 하나

In [9]:
data.select_one('li') # li 태그가 여러개 있을 시 가장 처음의 element만 리턴

In [10]:
data.select_one('.xxx') # 해당 selector 의 element 가 존재하지 않으면 None 리턴
#오류는 발생하지 않는다

In [11]:
data.select('.fruit') #class가 fruit인것들의 리스트 리턴
#결과가 element(들)의 list 다.

In [12]:
len(data.select('.fruit')) #len을 써서 해당 class가 몇개인지 확인 가능

2

In [13]:
data.select('.fruit')[0] # 리스트이니까 인덱싱을 통해 특정  element로 접근가능

In [14]:
data.select('.fruit')[1] # 해당 element의 태그부터 text, 사이에 선언한 태그까지 모두 리턴

In [15]:
data.select('.fruit')[0].text #text만 불러오기 가능 하지만, 입력되어있는 공백도 같이 리턴

'apple  '

In [16]:
data.select('.fruit')[0].text.strip() 
# 따라서, 일반적으로 웹 텍스트 데이터를 크롤링할때는 좌우 공백을 제거하는 것이 좋다

'apple'

In [17]:
data.select('.fruit')[1].text 
#text를 크롤링하면 공백은 그대로 나왔지만 사이에 작성된 태그는 리턴하지 않음

'banana'

In [18]:
data.select_one('ul').text 
# 여러 엘리먼트가 포함된 ul의 텍스트만 크롤링하면 ul작성간 생략되어있는 \n까지 전부
# text에 드러난다.

'\ndog\ncat\nfrog\nthis\n'

In [19]:
result=[]
for element in data.select('.fruit'):
    result.append(element.text.strip())  
    
    #fruit의 text를 보는데 태그는 보기싫고 좌우 공백을 동시에 날리고 싶으면
    #반복문을 사용하여 fruit을 선택하고 처리하는 것을 처리하는 반복문을 사용
    
result

['apple', 'banana']

In [20]:
[element.text.strip() for element in data.select('.fruit')]
#위와 동일

['apple', 'banana']

In [21]:
# 연습: 도전!
# animal 에 대한 리스트도 뽑아보세요
# 결과 --> ['dog', 'cat', 'frog', 'this']

In [22]:
[element.text.strip() for element in data.select('ul > .animal ')]
#html을 보면 내가 출력하고자 하는 리스트에는 'fish'가없는 4가지 값으로 이루어져 있다.
#fish는 밑의 ol 의 li 에서 같은 class=animal 값을 가지고 있는데
#select문 안에 .animal만 집어 넣을 경유 모든 animal을 리스트로 불러오기 때문에
#ul 안의 animal만 불러오게 따로 지정해주어야 한다.
#이를 위하여 (ul > .animal) or( ul .animal) 을 select문안에 집어 넣는다.

['dog', 'cat', 'frog', 'this']

In [23]:
# 결과예)

# [
#     {
#         url: "http://www.naver.com",
#         link: "네이버"
#     },
#     {
#         url: "http://www.daum.net",
#         link: "daum"
#     },
# ]

In [24]:
[element.text.strip() for element in data.select('ol > li > a ')]

['네이버', 'daum']

In [25]:
[
    {
        'url': element.attrs['href'].strip(),
        'link': element.text.strip()
    }
    for element in data.select('ol > li > a ')
]

[{'url': 'https://www.naver.com', 'link': '네이버'},
 {'url': 'https://www.daum.net', 'link': 'daum'}]

In [26]:
#위의 경우에는 리스트안의 내용을 딧셔너리로 받아와야한다.
#그래서 딕셔너리 변수이름을 선언해주고 각각 text와 href를 선언해준다.
#href는 a 태그 안에 href로 선언되어 있기 때문에 attrs에 'href'로 인덱싱 해준다.

In [27]:
"""
<결과 예시>
[{'제목': '이것이 파이썬이다', '가격': '[도서] 19,200원'},
 {'제목': '저것도 파이썬이다', '가격': '[할인] 12,800원'},
 {'제목': '그래도 파이썬인가?', '가격': '[중고] 6,500원'}]
"""

"\n<결과 예시>\n[{'제목': '이것이 파이썬이다', '가격': '[도서] 19,200원'},\n {'제목': '저것도 파이썬이다', '가격': '[할인] 12,800원'},\n {'제목': '그래도 파이썬인가?', '가격': '[중고] 6,500원'}]\n"

In [28]:
#내가 한거

In [29]:
[
    {
        '제목':item.text[:13].strip(),
        '가격':item.text[13:].strip(),
    }
    for item in data.select("tr")
]

[{'제목': '제목\n가격', '가격': ''},
 {'제목': '1.이것이 파이썬이다', '가격': '[도서] 19,200원'},
 {'제목': '2.저것도 파이썬이다', '가격': '[할인] 12,800원'},
 {'제목': '3.그래도 파이썬인가?', '가격': '[중고] 6,500원'}]

In [ ]:
#올바른 정답

In [ ]:
[
    {
        "제목": element.select("td")[0].text.strip(),
        "가격": element.select("td")[1].text.strip()
    }
    for element in row_elements
    if element.select_one("td")
]

In [ ]:
# 첫번째 td 두번째 td를 반복하기 떄문에 td를 불러서 인덱싱을 확인해야한다

In [ ]:
# 가격 앞의 [도서], [할인]... 제거하려면?

In [31]:
data= BeautifulSoup(html,'html.parser')
row_elements =data.select_one('#books').select('tr') #book class의 tr 선택

result=[]

for row in row_elements:
    if row.select_one('td'): 
        
        price_element = row.select_one('td:nth-child(2)') #td의 두번쩨 chiled element
        price_element.select_one('b').decompose()  # <b> element 삭제됨
        
        item= {
            '제목' : row.select_one('td:first-child').text.strip(),
            '가격' : int(price_element.text.strip().replace(',','')[:-1])  #,과 ''를 지우고 처음부터 끝까지 공백제거 하고 정수 반환
        }
        
        result.append(item)
        
result

[{'제목': '1.이것이 파이썬이다', '가격': 19200},
 {'제목': '2.저것도 파이썬이다', '가격': 12800},
 {'제목': '3.그래도 파이썬인가?', '가격': 6500}]

In [32]:
import pandas as pd
pd.DataFrame(result)

             제목     가격
0   1.이것이 파이썬이다  19200
1   2.저것도 파이썬이다  12800
2  3.그래도 파이썬인가?   6500

In [ ]:
# 데이터 프레임으로도 만들 수 있다.