In [1]:
import numpy as np
import pandas as pd

In [3]:
# 시리즈는 1차원데이터, 
#직접 생성하는건 아니고 데이터 연산 결과 출력 폼이라는 느낌
#왼쪽이 index, 오른쪽이 value(값)

In [ ]:
# pd.Series(
#     data=None, 첫번째 data
#     index=None,두번째 index
#     dtype: 'Dtype | None' = None,
#     name=None,
#     copy: 'bool' = False,
#     fastpath: 'bool' = False,
# )

In [4]:
s1 = pd.Series([1,2,3])
s1

0    1
1    2
2    3
dtype: int64

In [5]:
s1.index,s1.dtype

(RangeIndex(start=0, stop=3, step=1), dtype('int64'))

In [7]:
s2 = pd.Series([10,20,30],[11,22,33])
s2

11    10
22    20
33    30
dtype: int64

In [8]:
s2[22]

20

In [10]:
s2.index

Int64Index([11, 22, 33], dtype='int64')

In [11]:
s3 = pd.Series([1,2,3,4],['딸기','포도','귤','메론'])
s3 #index가 정수인거만은 아님

딸기    1
포도    2
귤     3
메론    4
dtype: int64

In [12]:
s3 = pd.Series([1,2,3,4],['딸기','귤','귤','메론'])
s3 #index 중복 허용 가능

딸기    1
귤     2
귤     3
메론    4
dtype: int64

In [14]:
s3['귤']=5

In [15]:
s3 #중복인덱싱의 값을 바꾸면 해당인덱싱의 값이 모두 바뀜

딸기    1
귤     5
귤     5
메론    4
dtype: int64

In [16]:
s3['귤']

귤    5
귤    5
dtype: int64

In [24]:
sdict = {'딸기': 300, '포도': 600,'귤':120,'메론':40}

In [25]:
s4=pd.Series(sdict)
s4 #dict형태로 넣어 잘들어간다

딸기    300
포도    600
귤     120
메론     40
dtype: int64

In [26]:
s4.index

Index(['딸기', '포도', '귤', '메론'], dtype='object')

In [27]:
s4.index.values #array형태로

array(['딸기', '포도', '귤', '메론'], dtype=object)

In [28]:
s4.values #array형태

array([300, 600, 120,  40], dtype=int64)

In [31]:
s4['딸기'],s4[['딸기','귤']] #s4['딸기','귤']에러

(300,
 딸기    300
 귤     120
 dtype: int64)

In [32]:
s4['딸기'] #value

300

In [33]:
s4[['딸기']] #Series

딸기    300
dtype: int64

In [35]:
s4[['메론','귤','딸기']] #인덱스 적은 순서대로 시리즈에 나타남

메론     40
귤     120
딸기    300
dtype: int64

In [36]:
s4[['메론','귤','메론','귤']] #동일한 인덱스 여러번 사용 가능

메론     40
귤     120
메론     40
귤     120
dtype: int64

In [37]:
s4['파파야']=52 #없는 인덱스에 새로 값줄 경우 새로 추가시킴
s4

딸기     300
포도     600
귤      120
메론      40
파파야     52
dtype: int64

In [39]:
s4[['귤','파파야']]=90,100 #복수의 값 수정 가능
s4

딸기     300
포도     600
귤       90
메론      40
파파야    100
dtype: int64

In [40]:
s4.index

Index(['딸기', '포도', '귤', '메론', '파파야'], dtype='object')

In [42]:
s5 = pd.Series(np.arange(5),s4.index)
s5 #s4의 인덱스를 재사용하여 새로운 Series 생성

딸기     0
포도     1
귤      2
메론     3
파파야    4
dtype: int32

In [43]:
s4.name='과일가격' #시리즈의 이름 추가
s4

딸기     300
포도     600
귤       90
메론      40
파파야    100
Name: 과일가격, dtype: int64

In [44]:
s4.index

Index(['딸기', '포도', '귤', '메론', '파파야'], dtype='object')

In [45]:
s4.index.name = '과일명' #인덱스에도 name을 줄 수 있다
s4

과일명
딸기     300
포도     600
귤       90
메론      40
파파야    100
Name: 과일가격, dtype: int64

In [47]:
s4.index=['오렌지','스타후르츠','키위','망고','참외']
s4 #인덱스 변경가능

오렌지      300
스타후르츠    600
키위        90
망고        40
참외       100
Name: 과일가격, dtype: int64

In [48]:
s4.ndim,s4.shape,s4.size,len(s4)

(1, (5,), 5, 5)

In [49]:
s4['키위']=100
s4['수박']=np.NaN

In [50]:
s4.unique()#고유한값만 추출,nan도 나오는 모습

array([300, 600, 100,  40], dtype=int64)

In [56]:
s4.count() #NaN은 카운트 하지 않는다

5

In [57]:
a1= np.array([2,2,2,2,np.NaN])
a1.mean() #array는 nan도 연산을 하여 결과값이 nan

nan

In [58]:
s4.mean() #Series는 NaN을 연산에 포함시키지 않는다.

228.0

In [63]:
s6=pd.Series(np.arange(10))
s6

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [64]:
s6.head() #맨위의 5개만 보여줌

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [65]:
s6.head(3) #숫자 지정가능

0    0
1    1
2    2
dtype: int32

In [66]:
s6.tail() #맨밑의 5개만 보여줌

5    5
6    6
7    7
8    8
9    9
dtype: int32

In [67]:
s6.head(3) #숫자 지정가능

0    0
1    1
2    2
dtype: int32

In [68]:
s7 = pd.Series([1, 2, 3, 4], ['a', 'b', 'c', 'd'])
s8 = pd.Series([6, 3, 2, 1], ['d', 'c', 'b', 'a'])

In [69]:
s7

a    1
b    2
c    3
d    4
dtype: int64

In [70]:
s8

d    6
c    3
b    2
a    1
dtype: int64

In [71]:
s7+s8 #같은 인덱스 끼리 연산

a     2
b     4
c     6
d    10
dtype: int64

In [72]:
s7 ** 2

a     1
b     4
c     9
d    16
dtype: int64

In [73]:
s7 ** s8 #역시나 같은 인덱스 끼리 연산

a       1
b       4
c      27
d    4096
dtype: int64

In [74]:
s7['k']=7
s7['e']=9

In [75]:
s7

a    1
b    2
c    3
d    4
k    7
e    9
dtype: int64

In [76]:
s7+s8 # 인덱스가 맞지 않는 e와 k는 NaN 생성

a     2.0
b     4.0
c     6.0
d    10.0
e     NaN
k     NaN
dtype: float64